*{
    margin: 0px;
}
h1.topbar {
    font-size: 52;
    background: white;
    padding: 10px;
    font-family: 'Calistoga', cursive;
}
h1.footer {
    font-size: 20;
    background: white;
    font-family: 'Calistoga', cursive;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
}
ul.links {
    font-family: 'Roboto Condensed', sans-serif;
}
ul.announcements {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff; 
}
div.left {
    float: left;
    background: rgb(255, 25, 32);
    height: 333px;
    width: 33.3%;
}
div.center {
    float: left;
    background: rgb(192, 192, 192);
    height: 333px;
    width: 33.3%;
}

div.right {
    float: left;
    background: #11336A;
    height: 333px;
    width: 33.3%;
    
}
div.bottombox{
    background: rgb(255, 25, 32);
    height: 52%;
    width: 100%;
}